In [13]:
import pandas as pd
import numpy as np

df = pd.read_csv('../Data Files/census.csv')
df = df[df['SUMLEV'] == 50]
df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

In [14]:
# Mencari rata-rata jumlah penduduk setiap county di masing-masing state

# Memakai cara loop

for state in df['STNAME'].unique():
    avg = np.average(df.where(df['STNAME'] == state).dropna()['CENSUS2010POP'])
    print('STATE :', state, 'AVERAGE:', str(avg))

STATE : Alabama AVERAGE: 71339.34328358209
STATE : Alaska AVERAGE: 24490.724137931036
STATE : Arizona AVERAGE: 426134.4666666667
STATE : Arkansas AVERAGE: 38878.90666666667
STATE : California AVERAGE: 642309.5862068966
STATE : Colorado AVERAGE: 78581.1875
STATE : Connecticut AVERAGE: 446762.125
STATE : Delaware AVERAGE: 299311.3333333333
STATE : District of Columbia AVERAGE: 601723.0
STATE : Florida AVERAGE: 280616.5671641791
STATE : Georgia AVERAGE: 60928.63522012578
STATE : Hawaii AVERAGE: 272060.2
STATE : Idaho AVERAGE: 35626.86363636364
STATE : Illinois AVERAGE: 125790.50980392157
STATE : Indiana AVERAGE: 70476.10869565218
STATE : Iowa AVERAGE: 30771.262626262625
STATE : Kansas AVERAGE: 27172.55238095238
STATE : Kentucky AVERAGE: 36161.39166666667
STATE : Louisiana AVERAGE: 70833.9375
STATE : Maine AVERAGE: 83022.5625
STATE : Maryland AVERAGE: 240564.66666666666
STATE : Massachusetts AVERAGE: 467687.78571428574
STATE : Michigan AVERAGE: 119080.0
STATE : Minnesota AVERAGE: 60964.65517241379
STATE : Mississippi AVERAGE: 36186.54878048781
STATE : Missouri AVERAGE: 52077.62608695652
STATE : Montana AVERAGE: 17668.125
STATE : Nebraska AVERAGE: 19638.075268817203
STATE : Nevada AVERAGE: 158855.9411764706
STATE : New Hampshire AVERAGE: 131647.0
STATE : New Jersey AVERAGE: 418661.61904761905
STATE : New Mexico AVERAGE: 62399.36363636364
STATE : New York AVERAGE: 312550.03225806454
STATE : North Carolina AVERAGE: 95354.83
STATE : North Dakota AVERAGE: 12690.396226415094
STATE : Ohio AVERAGE: 131096.63636363635
STATE : Oklahoma AVERAGE: 48718.844155844155
STATE : Oregon AVERAGE: 106418.72222222222
STATE : Pennsylvania AVERAGE: 189587.74626865672
STATE : Rhode Island AVERAGE: 210513.4
STATE : South Carolina AVERAGE: 100551.39130434782
STATE : South Dakota AVERAGE: 12336.060606060606
STATE : Tennessee AVERAGE: 66801.1052631579
STATE : Texas AVERAGE: 98998.27165354331
STATE : Utah AVERAGE: 95306.37931034483
STATE : Vermont AVERAGE: 44695.78571428572
STATE :Virginia AVERAGE: 60111.29323308271
STATE : Washington AVERAGE: 172424.10256410256
STATE : West Virginia AVERAGE: 33690.8
STATE : Wisconsin AVERAGE: 78985.91666666667
STATE : Wyoming AVERAGE: 24505.478260869564

In [15]:
# Hanya mencari pemahaman

np.average(df.where(df['STNAME'] == 'Alabama').dropna()['CENSUS2010POP'])

71339.34328358209

In [16]:
# Menggunakan group by

for group, frame in df.groupby('STNAME'):
    avg = np.average(frame['CENSUS2010POP'])
    print('STATE :', group, 'AVERAGE:', str(avg))

STATE : Alabama AVERAGE: 71339.34328358209
STATE : Alaska AVERAGE: 24490.724137931036
STATE : Arizona AVERAGE: 426134.4666666667
STATE : Arkansas AVERAGE: 38878.90666666667
STATE : California AVERAGE: 642309.5862068966
STATE : Colorado AVERAGE: 78581.1875
STATE : Connecticut AVERAGE: 446762.125
STATE : Delaware AVERAGE: 299311.3333333333
STATE : District of Columbia AVERAGE: 601723.0
STATE : Florida AVERAGE: 280616.5671641791
STATE : Georgia AVERAGE: 60928.63522012578
STATE : Hawaii AVERAGE: 272060.2
STATE : Idaho AVERAGE: 35626.86363636364
STATE : Illinois AVERAGE: 125790.50980392157
STATE : Indiana AVERAGE: 70476.10869565218
STATE : Iowa AVERAGE: 30771.262626262625
STATE : Kansas AVERAGE: 27172.55238095238
STATE : Kentucky AVERAGE: 36161.39166666667
STATE : Louisiana AVERAGE: 70833.9375
STATE : Maine AVERAGE: 83022.5625
STATE : Maryland AVERAGE: 240564.66666666666
STATE : Massachusetts AVERAGE: 467687.78571428574
STATE : Michigan AVERAGE: 119080.0
STATE : Minnesota AVERAGE: 60964.65517241379
STATE : Mississippi AVERAGE: 36186.54878048781
STATE : Missouri AVERAGE: 52077.62608695652
STATE : Montana AVERAGE: 17668.125
STATE : Nebraska AVERAGE: 19638.075268817203
STATE : Nevada AVERAGE: 158855.9411764706
STATE : New Hampshire AVERAGE: 131647.0
STATE : New Jersey AVERAGE: 418661.61904761905
STATE : New Mexico AVERAGE: 62399.36363636364
STATE : New York AVERAGE: 312550.03225806454
STATE : North Carolina AVERAGE: 95354.83
STATE : North Dakota AVERAGE: 12690.396226415094
STATE : Ohio AVERAGE: 131096.63636363635
STATE : Oklahoma AVERAGE: 48718.844155844155
STATE : Oregon AVERAGE: 106418.72222222222
STATE : Pennsylvania AVERAGE: 189587.74626865672
STATE : Rhode Island AVERAGE: 210513.4
STATE : South Carolina AVERAGE: 100551.39130434782
STATE : South Dakota AVERAGE: 12336.060606060606
STATE : Tennessee AVERAGE: 66801.1052631579
STATE : Texas AVERAGE: 98998.27165354331
STATE : Utah AVERAGE: 95306.37931034483
STATE : Vermont AVERAGE: 44695.78571428572
STATE : Virginia AVERAGE: 60111.29323308271
STATE : Washington AVERAGE: 172424.10256410256
STATE : West Virginia AVERAGE: 33690.8
STATE : Wisconsin AVERAGE: 78985.91666666667
STATE : Wyoming AVERAGE: 24505.478260869564

In [17]:
# Membagi group berdasar huruf pertama dari nama state

df = df.set_index('STNAME')

def fun(item):
    if item[0] < 'M':
        return 0
    if item[0] < 'Q':
        return 1
    else:
        return 2

for group, frame in df.groupby(fun):
    print('There are',str(len(frame)),'records in group',str(group), 'for processing')

There are 1177 records in group 0 for processing
There are 1134 records in group 1 for processing
There are 831 records in group 2 for processing

In [27]:
# Mencari rata-rata jumlah penduduk yang ada di county dan di group berdasar state name

# Cara singkat pake aggregation

df = pd.read_csv('../Data Files/census.csv')
df = df[df['SUMLEV'] == 50]
df.groupby('STNAME').agg({'CENSUS2010POP' : np.average})

                      CENSUS2010POP
STNAME
Alabama                71339.343284
Alaska                 24490.724138
Arizona               426134.466667
Arkansas               38878.906667
California            642309.586207
Colorado               78581.187500
Connecticut           446762.125000
Delaware              299311.333333
District of Columbia  601723.000000
Florida               280616.567164
Georgia                60928.635220
Hawaii                272060.200000
Idaho                  35626.863636
Illinois              125790.509804
Indiana                70476.108696
Iowa                   30771.262626
Kansas                 27172.552381
Kentucky               36161.391667
Louisiana              70833.937500
Maine                  83022.562500
Maryland              240564.666667
Massachusetts         467687.785714
Michigan              119080.000000
Minnesota              60964.655172
Mississippi            36186.548780
Missouri               52077.626087
Montana                17668.125000
Nebraska               19638.075269
Nevada                158855.941176
New Hampshire         131647.000000
New Jersey            418661.619048
New Mexico             62399.363636
New York              312550.032258
North Carolina         95354.830000
North Dakota           12690.396226
Ohio                  131096.636364
Oklahoma               48718.844156
Oregon                106418.722222
Pennsylvania          189587.746269
Rhode Island          210513.400000
South Carolina        100551.391304
South Dakota           12336.060606
Tennessee              66801.105263
Texas                  98998.271654
Utah                   95306.379310
Vermont                44695.785714
Virginia               60111.293233
Washington            172424.102564
West Virginia          33690.800000
Wisconsin              78985.916667
Wyoming                24505.478261

In [ ]:
# Exercise nya 
# print(df.groupby('Category').apply(lambda df,a,b: sum(df[a] * df[b]), 'Weight (oz.)', 'Quantity'))


# Or alternatively without using a lambda:
# def totalweight(df, w, q):
#         return sum(df[w] * df[q])
        
# print(df.groupby('Category').apply(totalweight, 'Weight (oz.)', 'Quantity'))