In [41]:
# Buat dataframe nilai

import pandas as pd
df = pd.DataFrame(
    ['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D'],
    index=['excellent', 'excellent', 'excellent', 'good', 'good', 'good', 'ok', 'ok', 'ok', 'poor', 'poor']
    )
df.rename(columns={0:'Grades'}, inplace=True)
df

          Grades
excellent     A+
excellent      A
excellent     A-
good          B+
good           B
good          B-
ok            C+
ok             C
ok            C-
poor          D+
poor           D

In [42]:
# Buat menjadi data ketegorikal

df['Grades'].astype('category')

excellent    A+
excellent     A
excellent    A-
good         B+
good          B
good         B-
ok           C+
ok            C
ok           C-
poor         D+
poor          D
Name: Grades, dtype: category
Categories (11, object): [A, A+, A-, B, ..., C+, C-, D, D+]

In [57]:
# Membagi data bangak menjadi kategori
import numpy as np

df = pd.read_csv('../Data Files/census.csv')
df = df[df['SUMLEV'] == 50]
df = df.set_index('STNAME').groupby(level=0).agg({'CENSUS2010POP' : np.average})
pd.cut(df['CENSUS2010POP'], 2, labels=['Small', 'Large'])

STNAME
Alabama                 Small
Alaska                  Small
Arizona                 Large
Arkansas                Small
California              Large
Colorado                Small
Connecticut             Large
Delaware                Small
District of Columbia    Large
Florida                 Small
Georgia                 Small
Hawaii                  Small
Idaho                   Small
Illinois                Small
Indiana                 Small
Iowa                    Small
Kansas                  Small
Kentucky                Small
Louisiana               Small
Maine                   Small
Maryland                Small
Massachusetts           Large
Michigan                Small
Minnesota               Small
Mississippi             Small
Missouri                Small
Montana                 Small
Nebraska                Small
Nevada                  Small
New Hampshire           Small
New Jersey              Large
New Mexico              Small
New York                Small
North Carolina          Small
North Dakota            Small
Ohio                    Small
Oklahoma                Small
Oregon                  Small
Pennsylvania            Small
Rhode Island            Small
South Carolina          Small
South Dakota            Small
Tennessee               Small
Texas                   Small
Utah                    Small
Vermont                 Small
Virginia                Small
Washington              Small
West Virginia           Small
Wisconsin               Small
Wyoming                 Small
Name: CENSUS2010POP, dtype: category
Categories (2, object): [Small < Large]

In [53]:
print('k')

k