In [1]:
import pandas as pd

sports = {
    'Archer' : 'Bhutan',
    'Golf' : 'Scotland',
    'Sumo' : 'Japan',
    'Taekwondo' : 'South Korea'
}

In [3]:
sportt = pd.Series(sports)
sportt

Archer            Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [5]:
# Index data ke 3 (berdasar nomor)

sportt.iloc[3]

'South Korea'

In [7]:
# Index data di 'Sumo' berdasar nama index

sportt.loc['Sumo']

'Japan'

In [8]:
# Langsung gak pake loc atau iloc

sportt[1]

'Scotland'

In [9]:
sportt['Golf']

'Scotland'

In [18]:
# Membuat  dan iterasi datafram

df_nya = [i for i in range(100)]

count = 0
jumlah = 0

for data in df_nya:
    count += 1
    jumlah += data

jumlah

4950

In [15]:
sum(df_nya)

4950

In [32]:
# Membuat 1000 angka random antara 1-500

import numpy as np 

angka = pd.Series(np.random.randint(1,500,1000))
angka.head(5)

0    357
1     15
2    405
3    277
4    429
dtype: int32

In [37]:
# Mencoba menghitung waktu
# Membandingkan SUM dengan for vs SUM dengan function di numpy

import time

In [45]:
# Dengan for

# %%timeit -n 100 # waktu yang dibutuhkan untuk menghitung 100 iterasi

summary = 0

start_time = time.time()

for data in angka:
    summary += data

end_time = time.time()

print(summary,'dalam waktu', end_time-start_time, 's')

247902 dalam waktu 0.0010006427764892578 s

In [46]:
# dengan function nya numpy

# %%timeit -n 100

start_time = time.time()

summary = np.sum(angka)

end_time = time.time()

print(summary,'dalam waktu', end_time-start_time, 's')

247902 dalam waktu 0.0 s

In [60]:
# menambah setiap angka dengan angka 11

angka += 11
angka.head()

0    497
1    155
2    545
3    417
4    569
dtype: int32