In [1]:
import pandas as pd

In [29]:
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

In [12]:
df['Cost'] = df['Cost']*0.8
df

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  18.0
Store 1  Kevyn   Kitty Litter   2.0
Store 2  Vinod      Bird Seed   4.0

In [17]:
type(df.loc['Store 1'])

pandas.core.frame.DataFrame

In [19]:
df.loc['Store 1','Name']

Store 1    Chris
Store 1    Kevyn
Name: Name, dtype: object

In [23]:
df.loc[:,['Cost','Name']]

         Cost   Name
Store 1  18.0  Chris
Store 1   2.0  Kevyn
Store 2   4.0  Vinod

In [39]:
# Copy dataframe
new_df = df.copy()

In [55]:
# Rubah banyak index

df.loc[['Store 1','Store 2'],'Location'] = 'Ka'

In [56]:
df

          Name Item Purchased  Cost Location
Store 1  Chris       Dog Food  22.5       Ka
Store 1  Kevyn   Kitty Litter   2.5       Ka
Store 2  Vinod      Bird Seed   5.0       Ka