In [8]:
# Part 1

import pandas as pd

df = pd.read_csv('../Data Files/olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [9]:
# Nama negara yang dapat gold terbanyak
df.index[df['Gold'] == max(df['Gold'])].values[0]

'United States'

In [10]:
# Negara dengan selisih gold summer dengan winter terbanyak
df.index[abs(df['Gold'] - df['Gold.1']) == max(abs(df['Gold'] - df['Gold.1']))].values[0]

'United States'

In [11]:
# Negara dengan selisih gold winter dan summer terbanyak relative dengan total gold

menaruh_urutan_bawang = []
index_maximalnya = 0

for i in df.values:
    if (i[11] != 0) & (i[1] != 0) & (i[6] != 0):
        menaruh_urutan_bawang.append(abs((i[1]-i[6])/i[11]))
    else:
        menaruh_urutan_bawang.append(0.0)

for i, data in enumerate(menaruh_urutan_bawang):
    if data > index_maximalnya:
        index_maximalnya = i

df.index.values[index_maximalnya]

'Australia'

In [12]:
# Membuat Series dari dataframe dengan bobot Gold.2 == 3, Silver.2 == 2, Bronze.2 == 1

pd.Series(df['Gold.2'].values*3 + df['Silver.2'].values*2 + df['Bronze.2'].values*1, index=df.index, name='Points')

Afghanistan                           2
Algeria                              27
Argentina                           130
Armenia                              16
Australasia                          22
                                   ...
Yugoslavia                          171
Independent Olympic Participants      4
Zambia                                3
Zimbabwe                             18
Mixed team                           38
Name: Points, Length: 146, dtype: int64

In [13]:
# Part 2

census_df = pd.read_csv("../Data Files/census.csv")
census_df.head(10)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411
6,50,3,6,1,11,Alabama,Bullock County,10914,10915,10887,...,-30.953709,-5.180127,-1.130263,14.354290,-16.167247,-29.001673,-2.825524,1.507017,17.243790,-13.193961
7,50,3,6,1,13,Alabama,Butler County,20947,20946,20944,...,-14.032727,-11.684234,-5.655413,1.085428,-6.529805,-13.936612,-11.586865,-5.557058,1.184103,-6.430868
8,50,3,6,1,15,Alabama,Calhoun County,118572,118586,118437,...,-6.155670,-4.611706,-5.524649,-4.463211,-3.376322,-5.791579,-4.092677,-5.062836,-3.912834,-2.806406
9,50,3,6,1,17,Alabama,Chambers County,34215,34170,34098,...,-2.731639,3.849092,2.872721,-2.287222,1.349468,-1.821092,4.701181,3.781439,-1.290228,2.346901

In [14]:
# State yang memiliki paling banyak county

sensus = census_df[census_df['SUMLEV'] != 40]

stname = census_df['STNAME'].unique()

penampung = []
max_count = 0

for state in stname:
    count = 0

    for data in sensus.values:
        if data[5] == state:
            count += 1
    penampung.append([state, count])
    
    if count > max_count:
        max_count = count

for d in penampung:
    if d[1] == max_count:
        print(d[0])

Texas

In [15]:
# Menampilkan daftar 3 state paling banyak penduduk (berdasarkan CENSUS2010POP) dengan hanya menghitung 3 daftar teratas county dari masing masing state

# VERSI 2 (YANG DIPAKAI)
sensus = census_df[census_df['SUMLEV'] != 40]
st_name = sensus['STNAME'].unique()

sensus = sensus.sort_values(by=['STNAME', 'CENSUS2010POP'], ascending=False)
sensus[['STNAME','CTYNAME','CENSUS2010POP']].values

penampungan = []

for st in st_name:
    count = 0
    summary = 0

    for data in sensus[['STNAME','CTYNAME','CENSUS2010POP']].values:
        if st == data[0]:
            if count < 3:
                summary += data[2]
            count += 1
    penampungan.append([st, summary])

penampungan.sort(key=lambda x: x[1], reverse=True)
penampungan = penampungan[:3]

result = [d[0] for d in penampungan]
result

['California', 'Texas', 'Illinois']

In [30]:
# Menampilkan nama county dengan perubahan terbesar dalam jangka waktu 2010-2015

sensus = census_df[census_df['SUMLEV'] != 40]
sensus = sensus[['CTYNAME','POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']]

column_change = []

for data in sensus.values:
    change_count = max(data[1:]) - min(data[1:])
    column_change.append([data[0], change_count])

column_change.sort(key=lambda x: x[1], reverse=True)
column_change[0][0]

'Harris County'

In [62]:
# Data di region 1 atau 2 dengan "COUNTY" diawali kata Washington dan populasi 2015 lebih dari populasi 2014

sensus = census_df[census_df['SUMLEV'] != 40]
region = sensus[(sensus['REGION'] == 1) | (sensus['REGION'] == 2)]

washington = region[region['CTYNAME'].str.startswith('Washington')]
lebih_dari = washington[washington['POPESTIMATE2015'] > washington['POPESTIMATE2014']]
lebih_dari[['STNAME','CTYNAME']]

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County

In [63]:
print(1)

1